[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
[submodule "themes/one"]
	path = themes/one
	url = https://github.com/resugary/hugo-theme-one.git
